<nav>
  <a href="/" class="brand">Ductor</a>
  <div class="links-container">
    <a href="/about" class="link">About</a>
    <a href="/contact" class="link">Contact</a>
    <a href="/signup" class="link">Sign Up</a>
  </div>
</nav>