:root {
  --primary-text-color: black;
  --secondary-text-color: blue;
}
body {
  padding: 4rem;
}
nav {
  display: flex;
  justify-content: space-between;
}
.brand {
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
  color: var(--primary-text-color)
}
.links-container {
  display: flex;
  font-size: 1.25rem;
  align-items: center;
}
.link {
  padding-right: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--primary-text-color)
}
.link:hover {
  text-decoration: underline;
}
/* footer {

} */